:root {
    --cardTitle: red;
    --cardButton: pink;
}


body {
    background-color: black !important;
}

#custom-nav {
    padding-top: 30px;
    padding-bottom: 10px;
}

#custom-jumbo {
    background-image: url(assets/pawel-czerwinski-unsplash_crop.jpg);
}

#custom-jumbo-text {
    background-color: rgba(245, 245, 245, 0.605);
    padding-left: 108px;
    padding-top: 9px;
    padding-bottom: 3px;
    padding-right: 24px;
    width: fit-content;
    margin-left: 0;
}

#aboutMe {
    color: whitesmoke
}

.custom-card {
    background-color: black !important;
}

.custom-title {
    text-align: center;
    color: var(--cardTitle);
}

.custom-card-text {
    font-size: small;
}

.custom-tech {
    background-color: black !important;
    color: white;
    text-align: center;
}

.custom-card-link {
    padding: 4px;
    border: 1px solid var(--cardButton);
    border-radius: 10%;
    color: var(--cardButton);
}