body {
    background-color: black !important;
}

#custom-nav {
    padding-top: 30px;
    padding-bottom: 10px;
}

#custom-jumbo {
    background-image: url(assets/pawel-czerwinski-unsplash_crop.jpg);
}

#custom-jumbo-text {
    background-color: rgba(245, 245, 245, 0.605);
    padding-left: 108px;
    padding-top: 9px;
    padding-bottom: 3px;
    padding-right: 24px;
    width: fit-content;
    margin-left: 0;
}

#aboutMe {
    color: whitesmoke
}